@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;

  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: 75px auto 75px;
  grid-template-areas:
    'hd hd hd hd hd hd hd hd hd'
    'mn mn mn mn mn mn mn sb sb'
    'ft ft ft ft ft ft ft ft ft';
  gap: 1rem;
}

.el {
  background-color: rebeccapurple;
  color: white;
  display: grid;
  place-content: center;
}

.header {
  grid-area: hd;
}

.sidebar {
  grid-area: sb;
  background-color: blue;
}

.footer {
  grid-area: ft;
}

.container {
  grid-area: mn;
  min-height: 400px;
  display: grid;
  /* Width per column. Since three numbers are provided, you have 3 columns. */
  grid-template-columns: 200px 100px 200px;
  /* You can also define the fraction value for your columns. Or you can also mix and match pixel and fraction. Repeat allows you to keep on repeating the pattern. */
  grid-template-columns: repeat(2, 1fr 2fr);
  /* You also have settings for rows as well. Two ways to set the rows. */
  grid-auto-rows: minmax(150px, auto);
  grid-template-rows: 2fr 1fr 1fr;
  /* Gap adds spacing between elements both row and column, respectively. You can also specify row-gap or column-gap */
  gap: 1em 0.5em;
}

.box {
  background-color: #000;
  color: #fff;
  font-size: 2rem;
  padding: 0.5rem;
}

.box:first-child {
  background-color: blue;
  /* column start and end dictates how big this component is respect to the other grids. This means that you'll have two boxes below this first child. */
  grid-column-start: 1;
  grid-column-end: 4;
  /* Short hand term */
  grid-column: 1 / 4;
  /* Same with row, this will mean that you'll have two boxes vertically next to the first child. */
  grid-row-start: 1;
  grid-row-end: 3;
  /* Short hand term */
  grid-row: 1 / 3;

  /* Grids can have same properties as flex boxes, so you can set align-content and justify-content to the box */
  display: grid;
  place-content: center;
}

.box:nth-child(2) {
  background-color: purple;
  grid-column: 1 / 5;
  grid-row: 3 / 4;
}
